/* Fonts */
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../assets/fonts/Montserrat/Regular.ttf") format("truetype");
}
$regular-font: "Montserrat-Regular";

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../assets/fonts/Montserrat/Bold.ttf") format("truetype");
}
$bold-font: "Montserrat-Bold";

@font-face {
	font-family: "Montserrat-Thin";
	src: url("../assets/fonts/Montserrat/Thin.ttf") format("truetype");
}
$thin-font: "Montserrat-Thin";

@font-face {
	font-family: "Montserrat-Medium";
	src: url("../assets/fonts/Montserrat/Medium.ttf") format("truetype");
}
$medium-font: "Montserrat-Medium";

/* Colours */
$gradient-top: rgb(35, 68, 251);
$gradient-bottom: rgb(93, 80, 251);
$blue-10: rgb(16, 34, 240);
$blue-20: rgb(70, 136, 241);
$gray-10: rgb(207, 207, 207);
$gradient2-top: rgb(52, 196, 193);
$gradient2-botom: rgb(132, 193, 244);
$gray-20: rgb(122, 122, 122);
$gray-30: rgb(80,80,80);
$gradient2-top: rgb(52, 196, 193);
$gradient2-botom: rgb(132, 193, 244);
$gradient3-top: rgb(252, 117, 123);
$gradient3-botom: rgb(243, 84, 160);

/* General */
$background-gradient: linear-gradient($gradient-top, $gradient-bottom);
$background-gradient2: linear-gradient(to right, $gradient2-top, $gradient2-botom);
$background-gradient3: linear-gradient(to left, $gradient3-top, $gradient3-botom);
$background-gradient4: linear-gradient(to right, $gradient-top, $gradient-bottom);
$button-gradient: linear-gradient(to left, $gradient-top, $gradient-bottom);

html {
	font-size: 15px;
}

body {
	margin: 0;
	font-family: "Montserrat-Regular";
}

#app-container {
	height: 100vh;
	width: 100vw;
}

.app-shell {
	height: 100%;
	width: 100%;
	display: grid;
}

.login-view {
	display: grid;
	height: 100%;
	width: 100%;

	.background {
		display: grid;
		grid-auto-rows: 1fr;

		.gradient-bg {
			background: $background-gradient;
		}
	}
	.foreground {
		position: absolute;
		left: 0;
		top: 0;

		height: 92%;
		width: 92%;
		padding: 4%;

		display: grid;
		grid-template-rows: 3fr 2fr;
		grid-gap: 4%;

		.top-section {
			display: grid;
			grid-template-rows: 2.5fr 2fr 1fr;

			> div:first-child {
				display: grid;
				padding: 4% 8% 0 8%;

				.logo {
					display: grid;
					grid-template-rows: 3fr 1fr;
					text-align: center;
					background: white;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;

					div:first-child {
						img {
							width: 40%;
						}
					}
					div:last-child {
						color: $blue-10;
						font-family: "Montserrat-Bold";
					}
				}
			}
			> div:nth-child(2) {
				display: grid;

				.extended-card {
					background-image: url("../assets/images/login_bg.png");
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 5px;
					display: grid;
					grid-template-rows: 1fr 1fr 1fr;
					padding: 4% 4%;
					color: white;

					.title {
						font-family: "Montserrat-Bold";
					}
					.content {
						font-size: 0.7rem;
					}
					.browse-link {
						color: $blue-10;
						padding: 0 8%;
						text-align: right;

						button {
							color: $blue-10;
							svg {
								height: 1.2rem;
								width: 1.2rem;
								padding: 0 0 0 20px;
							}
						}
					}
				}
			}
			> div:last-child {
				display: grid;
				padding: 0 8% 0 8%;

				.action-bar {
					display: grid;
					grid-template-columns: 4fr 1fr;
					grid-gap: 2%;
					padding: 5%;
					background: white;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;

					> div:first-child button {
						background: $button-gradient;
						font-family: $regular-font;
					}

					> div:last-child button {
						color: $blue-10;
					}
				}
			}
		}
		.bottom-section {
			display: grid;
			grid-template-rows: 1fr 1fr auto 1fr;
			padding: 0 4%;

			.header {
				color: $blue-10;
				font-size: 1.5rem;
				font-family: "Montserrat-Bold";
				padding: 4% 4% 0 4%;
			}
			.username-field {
				input {
					font-family: "Montserrat-Regular";
					font-size: 0.9rem;
				}
				svg {
					color: $blue-10;
					height: 1.5rem;
					width: 1.5rem;
				}
			}
			.password-field {
				display: grid;

				input {
					font-family: "Montserrat-Regular";
					font-size: 0.9rem;
				}
				svg {
					color: $blue-10;
					height: 1.5rem;
					width: 1.5rem;
				}
				div:nth-child(2) {
					text-align: right;
					button {color: $gray-10; font-size: 0.7rem;}
				}
			}
			.action-bar {
				display: grid;
				grid-template-columns: 4fr 1fr;
				grid-gap: 2%;

				div:first-child button {
					color: $blue-10;
					font-family: $bold-font;
				}
				div:last-child {
					padding: 1% 0 0 0;

					button {
						background-color: $blue-10;
						border-radius: 5px;

						svg {
							height: 1.2rem;
							width: 1.2rem;
						}
					}
				}
			}
			> div {
				background: white;
				padding: 0 4%;
			}
			> div:first-child {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			> div:last-child {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

}

.plans-view {
	display: grid;
	grid-template-rows: 5% 5% 90%;
	background: white;

	.nav-bar {
		padding: 1% 1%;
		svg {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	.title {
		text-align: center;
		font-family: "Montserrat-Bold";
		font-size: 1.2rem;
		padding: 3% 0;

	}
	.plan-list {
		display: grid;
		grid-auto-rows: 25%;
		grid-gap: 5%;
		padding: 5% 5%;

		p, span {color: white; font-size: 0.7rem; font-family: "Montserrat-Regular";}
		span {font-size: 1rem; font-family: "Montserrat-Bold";}
		.ind-card {
			border-radius: 5px;
			background-image: url("../assets/images/indplan_bg.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
		.pri-card {
			border-radius: 5px;
			background-image: url("../assets/images/priplan_bg.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
		.pub-card {
			border-radius: 5px;
			background-image: url("../assets/images/pubplan_bg.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.plan-view {
	display: grid;
	grid-template-rows: 8.5% 8.5% 83%;
	background-image: url("../assets/images/indplan_bg.png");
	background-repeat: no-repeat;
	background-size: 100vw 23.5vh;
	background-color: white;

	.nav-bar {
		padding: 2% 2%;
		background-color: transparent;

		svg {
			height: 1.5rem;
			width: 1.5rem;
			color: white;
		}
	}
	.title {
		text-align: center;
		font-family: $regular-font;
		font-size: 1.2rem;
		padding: 2% 0;
		background-color: transparent;
		color: white;
	}
	.plan-details {
		display: grid;
		grid-template-rows: 8% 92%;

		header {
			background-color: transparent;
			box-shadow: none;
			div {
				height: 100%;
				min-height: unset;
			}
			button {
				font-family: $regular-font;
				font-size: 1rem;
				text-transform: none;
				opacity: 1;
				}
		}

		button[aria-selected=true] {
			font-family: $bold-font;
		}

		div[role="tablist"] > span {
			height: 5px;
			background-color: white;
		}

		.tab-view {
			padding: 4%;
			display: grid;

			.sec-title {
				font-family: $medium-font;
				color: $gray-30;
			}
			ul {
				list-style: none;
				padding-inline-start: 0;
				margin-block: 1%;

				li {
					color: $gray-20;
					font-family: $regular-font;
					font-size: 0.75rem;
					padding: 0.5% 0;
				}
			}
			> div:nth-child(2) {
				.sec-title {
					color: black;
					font-family: $bold-font;
				}
			}
			> div:last-child {
				text-align: center;
			}
			> div > div:last-child {
				color: $gray-20;
				font-size: 0.75rem;
			}
			button {
				font-family: $medium-font;
				font-size: 1rem;
				text-transform: none;
				background: $background-gradient3;
				padding: 2% 2%;
				width: 50%;
			}
		}
	}
}

.help-view {
	display: grid;
	grid-template-rows: 8% 8% 84%;
	background-image: url("../assets/images/help_bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;

	.nav-bar {
		padding: 4%;
		background-color: transparent;

		svg {
			height: 1.5rem;
			width: 1.5rem;
			color: white;
		}
	}
	.title {
		text-align: center;
		font-family: $regular-font;
		font-size: 1.2em;
		padding: 3% 0;
		background-color: transparent;
		color: white;
	}
	.help-details {
		display: grid;
		grid-template-rows: auto 1fr;

		header {
			background-color: transparent;
			box-shadow: none;

			button {
				font-family: $regular-font;
				text-transform: none;
				opacity: 1;
			}
		}

		button[aria-selected=true] {
			font-family: $bold-font;
		}

		div[role="tablist"] > span {
			height: 4px;
			background-color: white;
		}

		.tab-view {
			padding: 4%;
			display: grid;

			.tab-content {
				max-height: 75vh;
				overflow-y: auto;

				.sec-title {
					font-family: $medium-font;
					font-size: 1.1rem;
					color: $gray-30;
					padding: 0 0 2% 0;
				}
				ul {
					list-style: none;
					padding-inline-start: 0;
					margin-block: 2% 2%;

					li {
						padding: 1% 0;
						color: $gray-20;
						font-family: $regular-font;
						font-size: 0.9rem;
					}
				}
				> div:nth-child(2) {
					.sec-title {
						font-size: 1.3em;
						color: black;
						font-family: $bold-font;
					}
				}
				> div:last-child {
					text-align: center;
				}
				> div > div:last-child {
					color: $gray-20;
					font-size: 0.75rem;
				}
				div[role="button"] > div {
					font-size: 0.9rem;
					font-family: $medium-font;
				}
			}
		}
	}
}

.home-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 20% 75% 5%;

		.top {
			background: $background-gradient4;
		}
		.mid {
			background: rgb(200, 200, 200);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-rows: 10% 76% 8%;
		grid-gap: 3%;

		.header-section {
			display: grid;
			padding: 3%;
			color: white;

			> div {
				display: grid;
				grid-template-columns: 15% 70% 15%;

				div:first-child {
					padding: 3% 0;
					button {color: white}
				}
				div:nth-child(2) {
					padding: 3% 0 0 4%;
					font-size: 1.2rem;
					font-family: $medium-font;
					text-align: center;
				}
				svg {
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}
		.content-section {
			display: grid;
			grid-template-rows: 1fr 3fr;
			grid-gap: 2%;
			padding: 0 2%;

			.profile-section {
				display: grid;
				grid-template-columns: 1fr 3fr;
				background: white;
				border-radius: 5px;
				box-shadow: 0px 2px 5px 1px rgb(200, 200, 200);
				padding: 3%;
				color: rgb(80, 80, 80);

				.photo-bar {
					display: grid;
					grid-template-rows: 1fr 2fr;

					> div > div {
						height: 120px;
						width: 120px;
					}
				}
				.detail-bar {
					display: grid;
					grid-template-rows: 1fr 2fr;
					grid-gap: 4%;

					.name-label {
						display: grid;
						grid-template-columns: 1fr 0.7fr;

						> div:first-child {
							display: grid;
							grid-template-rows: 1fr 1fr;

							> div:first-child {
								font-family: $medium-font;
							}
							> div:last-child {
								font-size: 0.8rem;
								color: blue;
							}
						}

						> div:last-child {
							display: grid;

							> div {
								height: 60%;
								width: 65%;
								color: white;
								background: rgb(252,55,104);
								font-size: 0.75rem;
							}
						}
					}
					.detail-label {
						display: grid;
						grid-template-rows: 1fr 1fr;
						grid-template-columns: 1fr 1fr;

						.detail-part {
							> div:first-child {
								font-size: 0.7rem;
							}
							> div:last-child {
								font-family: $medium-font;
							}
						}
					}
				}
			}
			.options {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				background: white;
				border-radius: 5px;
				box-shadow: 0px 2px 5px 1px rgb(200, 200, 200);

				button {
					font-family: "Montserrat-Regular";
					border: 1px solid rgb(200, 200, 200);
				}
				button:first-child {
					border-top-left-radius: 5px;
				}
				button:nth-child(2) {
					border-top-right-radius: 5px;
				}
				button:last-child {
					border-bottom-right-radius: 5px;
				}
				button:nth-child(5) {
					border-bottom-left-radius: 5px;
				}
				.sel-option {
					display: grid;
					grid-template-rows: 3fr 1fr;
					width: 100%;
					padding: 2%;
					color: blue;

					> div:last-child {
						font-size: 0.7rem;
						text-align: center;
					}
				}
			}
		}
		.footer {
			display: grid;
			grid-template-columns: repeat(4, 1fr);

			button {
				background: white;
				font-family: $medium-font;
				color: rgb(100, 100, 100);

				> div {
					display: grid;
					grid-template-rows: 2.5fr 1.5fr;
					font-size: 0.7rem;

					svg {
						height: 1.5rem;
						width: 1.5rem;
					}
				}
			}
			button:first-child {
				background: $blue-20;
				color: white;
			}
		}
	}
}

.profile-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 1fr;

		.top {
			background: $background-gradient4;
		}
		.mid {
			background: rgb(245, 245, 245);
		}
		.bottom {
			background: transparent;
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;
		.container {
			display: grid;
			grid-template-rows: 1fr 2fr 0.5fr 3fr 1.5fr;
			padding: 3%;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 3% 0.5%;

				button {
					color: white;
					text-transform: none;
					font-size: 1rem;
					svg {
						height: 1.5rem;
						width: 1.5rem;
					}
				}
				> div:nth-child(2) {
					color: white;
					font-family: $medium-font;
					font-size: 1.2rem;
					text-align: center;
				}
			}
			.content-section {
				display: grid;
				grid-template-rows: 3fr 1fr;
				text-align: center;

				> div:first-child {
					padding: 0 0 0 30%;

					> div {
						width: 40%;
						height: 80%;
						border: 5px solid white;
					}
				}
				.full-name {
					color: white;
					font-family: "Montserrat-Medium";
					font-size: 1.2rem;
				}
				.cid {
					color: white;
					font-size: 0.8rem;
				}
			}
			.profile-section {
				display: grid;
				background: white;
				border-radius: 5px;
				box-shadow: 1px 2px 5px #d8d8d8;

				> ul {
					display: grid;

					> div {
						padding: 1% 3%;
						> div:nth-child(2) {
							> span {
								color: rgb(100, 100, 100);
								font-size: 0.9rem;
								font-family: $medium-font;
							}
						}
					}
					svg {
						width: 1.2rem;
						height: 1.2rem;
					}
				}
			}
		}
	}
}

.payment-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 3fr;

		.top {
			background: $background-gradient4;
		}
		.bottom {
			background: rgb(245, 245, 245);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 1fr 4fr 1fr;
			padding: 40px;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 60px 10px;

				button {
					color: white;
					text-transform: none;
					font-size: 1.2rem;
				}
				> div:nth-child(2) {
					color: white;
					font-size: 1.8rem;
					text-align: center;
				}
			}
			.details-section {
				display: grid;
				grid-template-rows: 200px 150px 1fr 120px;
				background: white;
				border-radius: 15px;
				box-shadow: 1px 1px 20px 1px rgb(206, 206, 206);

				> div {
					padding: 0 40px;
				}
				> button {
					background: $background-gradient2;
					border-bottom-right-radius: 15px;
					border-bottom-left-radius: 15px;
					text-transform: none;
					font-size: 1.2rem;
				}
				.card-section {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					grid-gap: 15px;
					padding: 40px;
				}
				.amount-section {
					display: grid;
					grid-template-columns: 1fr 120px;
					background: rgb(245, 245, 245);
					> div {
						> div:first-child {
							font-size: 0.9rem;
							padding: 20px 0;
						}
						> div:last-child {
							font-size: 1.5rem;
						}
					}
				}
				.info-section {
					display: grid;
					padding-top: 80px;

					.card-details {
						display: grid;
						grid-template-columns: 1fr 1fr 1.5fr;
						grid-gap: 40px;

						label {
							font-size: 1.2rem;
						}
					}

					input {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
.payments-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 3fr;

		.top {
			background: $background-gradient4;
		}
		.bottom {
			background: rgb(245, 245, 245);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 1fr 4fr 0.35fr;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 10% 2%;

				button {
					color: white;
					text-transform: none;

					svg {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
				> div:nth-child(2) {
					color: white;
					font-family: $medium-font;
					font-size: 1.2rem;
					text-align: center;
				}
			}
			.details-section {
				display: grid;
				grid-template-rows: auto 1fr;

				header {
					box-shadow: none;
					> div:first-child {
						background: $background-gradient4;
					}
					button {
						text-transform: none;
						font-family: $regular-font;
						opacity: 0.5;
					}
					button[role="tab"] {
						font-size: 1rem;
					}
				}

				button[aria-selected=true] {
					opacity: 1;
				}

				div[role="tablist"] > span {
					height: 4px;
					background-color: white;
				}
				button {
					text-transform: none;
					font-family: $regular-font;
				}
				.tab-content {
					display: grid;
					grid-template-rows: 2fr 1.5fr 1fr;
					padding: 2%;

					.breakdown {
						display: grid;

						> div {
							display: grid;
							grid-template-columns: 1fr 1fr;
							padding: 1% 2%;
							background: white;

							> div:last-child {
								text-align: right;
							}
						}
						> div:first-child {
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}
						> div:last-child {
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
					.total {
						display: grid;
						grid-template-rows: 1.5fr 1fr;

						> div:first-child {
							display: grid;
							grid-template-columns: 1fr 1fr;
							background: white;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
							font-size: 1.2rem;
							padding: 2.5% 2%;

							input, p {font-size: 1.2rem}
						}
						button {
							background: $background-gradient2;
							font-size: 1.2rem;
							border-bottom-left-radius: 15px;
							border-bottom-right-radius: 15px;
						}
					}
				}
				.history-tab-content {
					display: grid;
					padding: 3% 3% 0 3%;
					overflow-y: auto;
					max-height: 70vh;

					.payment-list {
						display: grid;
						grid-auto-rows: 20%;
						grid-gap: 2%;

						.payment-details {
							display: grid;
							grid-template-columns: 1fr 1fr;
							padding: 2%;
							background: white;
							border-radius: 6px;

							> div:first-child {
								display: grid;
								grid-template-rows: 1fr 1fr 1fr;
								grid-gap: 0.5%;
								font-size: 1rem;
								font-family: "Montserrat-Medium";

								> div:last-child {
									display: grid;
									grid-template-columns: 1fr 6fr;
									font-family: "Montserrat-Regular";
									font-size: 0.75rem;
									color: rgb(200, 200, 200);
									svg {
										height: 1.2rem;
										width: 1.2rem;
									}
								}
							}
							> div:last-child {
								display: grid;
								grid-template-rows: 1fr 1fr;
								grid-gap: 1%;
								font-size: 1rem;
								text-align: right;

								> div:first-child {
									font-family: "Montserrat-Medium";
								}
								div[role="button"] {
									border: 1px solid green;
									color: green;
									font-size: 0.7rem;
									height: 28px;
								}
							}
						}
					}
				}
			}
			.footer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);

				button {
					background: white;
					font-family: "Montserrat-Medium";
					color: rgb(100, 100, 100);

					> div {
						display: grid;
						grid-template-rows: 2.5fr 1.5fr;
						font-size: 0.7rem;

						svg {
							height: 1.5rem;
							width: 1.5rem;
						}
					}
				}
				button:nth-child(2) {
					background: $blue-20;
					color: white;
				}
			}
		}
	}
}

.signup-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 3fr;

		.top {
			background: $background-gradient4;
		}
		.bottom {
			background: rgb(245, 245, 245);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 1fr 2.7fr 0.3fr;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 5% 2%;

				button {
					color: white;
					text-transform: none;
					font-size: 1.2rem;

					svg {
						height: 1.5rem;
						width: 1.5rem;
					}
				}
				> div:nth-child(2) {
					display: grid;
					color: white;
					font-size: 1.2rem;
					text-align: center;
					font-family: $medium-font;

					> div:last-child {
						font-family: $regular-font;
						font-size: 0.75rem;
					}
				}
			}
			.success-message {
				padding: 2% 2%;
				background: $background-gradient4;
				> div {
					background-image: url("../assets/images/regsucc_bg.png");
					background-size: 100%;
					display: grid;
					height: 100%;
					width: 100%;
				}
			}
			.empty-footer {
				background: $background-gradient4;
			}
			.details-section {
				display: grid;
				grid-template-rows: 10% 64% 20%;
				grid-gap: 3%;
				padding: 2% 2%;
				background: white;

				.progress {
					display: grid;
					grid-template-columns: 1fr 3fr;
					grid-gap: 1.5%;

					> div:first-child {
						padding: 1.5% 0 1.5% 0;
						font-family: "Montserrat-Bold";
						background: linear-gradient(to left, rgb(252,191,110), rgb(243, 142, 126));
						color: white;
						width: 60%;
						height: 60%;
					}
					> div:last-child {
						font-size: 0.7rem;
						font-family: $medium-font;
					}
				}
				.details-entered {
					display: grid;
					grid-auto-rows: 8%;
					grid-gap: 2%;
					> div {
						display: grid;
						grid-template-columns: 1fr auto 5%;
						grid-gap: 1%;
						text-align: right;
						font-size: 0.8rem;
					}
					svg {
						height: 1rem;
						width: 1rem;
					}
					b {
						color: $blue-10;
						font-family: $medium-font;
					}
				}
				.question {
					display: grid;
					text-align: right;

					.gender-selection {
						display: grid;
						grid-template-rows: 1fr 4fr;
						> div:first-child {
							font-size: 1.2rem;
						}
						> div:last-child {
							display: grid;
							grid-template-columns: 1fr 1fr;

							svg {
								height: 2rem;
								width: 2rem;
							}
						}
					}
				}
			}
			.footer {
				display: grid;
				grid-template-columns: 10% 10% 62% 15%;
				grid-gap: 1%;
				background: $background-gradient;
				color: white;

				svg {
					height: 1.5rem;
					width: 1.5rem;
				}
				> div:first-child {
					padding: 30% 0;
					text-align: center;
					opacity: 0.4;
				}
				> div:nth-child(2) {
					padding: 32% 0;
					text-align: center;
					opacity: 0.4;
					font-size: 0.8rem;
				}
				> div:nth-child(3) {
					padding: 1.5% 0;
					text-align: center;
				}
				> div:last-child {
					display: grid;
					padding: 4% 4%;
				}
				input {
					color: white;
					font-size: 1rem;
					font-family: $regular-font;
				}
				button {
					background: white;
					min-width: 20px;
					padding: 4% 4%;
					svg {
						width: 1.2rem;
						height: 1.2rem;
					}
				}
			}
		}
	}
}

.benificiary-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 3fr;

		.top {
			background: $background-gradient4;
		}
		.bottom {
			background: rgb(245, 245, 245);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 300px 1fr;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 100px 40px;

				button {
					color: white;
					text-transform: none;
					font-size: 1.2rem;
				}
				> div:nth-child(2) {
					display: grid;
					color: white;
					font-size: 1.5rem;
					font-family: "Montserrat-Medium";
					text-align: center;

					> div:last-child {
						font-size: 0.8rem;
					}
				}
			}
			.details-section {
				display: grid;
				grid-template-rows: 1fr 120px;
				padding: 40px 40px;

				.details-form {
					display: grid;
					padding: 0 40px;
					background: white;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;

					> div {
						display: grid;
						grid-auto-rows: 150px;

					}
					.fields {
						input {font-size: 1.2rem}
						.gender-selection {
							> div {
								display: grid;
								grid-template-columns: 1fr 1fr;
							}
						}
					}
				}

				> div:last-child {
					display: grid;

					button {
						text-transform: none;
						background: $background-gradient2;
						border-bottom-left-radius: 15px;
						border-bottom-right-radius: 15px;
						color: white;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
.claims-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 3fr;

		.top {
			background: $background-gradient4;
		}
		.bottom {
			background: rgb(245, 245, 245);
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 1fr 4fr 0.35fr;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 10% 2%;

				button {
					color: white;
					text-transform: none;

					svg {
						height: 1.5rem;
						width: 1.5rem;
					}
				}
				> div:nth-child(2) {
					display: grid;
					color: white;
					font-size: 1.2rem;
					text-align: center;
					font-family: $medium-font;

					> div:last-child {
						font-size: 0.7rem;
					}
				}
			}
			.details-section {
				display: grid;
				grid-template-rows: auto 1fr;

				header {
					box-shadow: none;

					> div:first-child {
						background: $background-gradient4;
					}
					button {
						font-family: $regular-font;
						text-transform: none;
						opacity: 0.5;
					}
				}
				button[aria-selected=true] {
					opacity: 1;
				}
				div[role="tablist"] > span {
					height: 4px;
					background-color: white;
				}
				.closed-claims-tab {
					display: grid;
					padding: 3% 3%0 3%;
					overflow: auto;
					max-height: 65vh;

					.claims-list {
						display: grid;
						grid-auto-rows: 20%;
						grid-gap: 2%;

						.closed-claim {
							display: grid;
							grid-template-rows: 1fr 0.2fr;
							background: white;
							border-radius: 6px;

							.claim-detail {
								display: grid;
								grid-template-columns: 1fr 1fr;
								padding: 3% 3% 0 3%;

								> div:first-child {
									display: grid;
									grid-template-rows: 1fr 1fr 1fr;
									grid-gap: 1%;
									font-family: $medium-font;

									> div:last-child {
										font-size: 0.7rem;
										font-family: $regular-font;
									}
								}
								> div:last-child {
									display: grid;
									grid-template-rows: 1fr 1fr;
									grid-gap: 1%;
									font-family: $regular-font;
									text-align: right;

									div[role="button"] {
										border: 1px solid green;
										color: green;
										height: 28px;
									}
									span {font-size: 0.7rem}
								}
							}
							.file-link {
								display: grid;
								padding: 1% 2% 2% 2%;
								border-top: 1px solid rgb(240, 240, 240);
								font-size: 0.7rem;
								> div {
									display: grid;
									grid-template-columns: 0.5fr 1fr;
									grid-gap: 1%;

									> div:first-child {
										text-align: right;

										svg {
											height: 1.2rem;
											width: 1.2rem;
											color: red;
										}
									}
								}
							}
						}
					}
				}
			}
			.footer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);

				button {
					background: white;
					font-family: "Montserrat-Medium";
					color: rgb(100, 100, 100);

					> div {
						display: grid;
						grid-template-rows: 2.5fr 1.5fr;
						font-size: 0.7rem;

						svg {
							height: 1.5rem;
							width: 1.5rem;
						}
					}
				}
				button:nth-child(3) {
					background: $blue-20;
					color: white;
				}
			}
		}
	}
}
.locator-view {
	display: grid;

	.view-background {
		display: grid;
		grid-template-rows: 1fr 5fr;

		.top {
			background: white;
		}
		.bottom {
			background: white;
		}
	}

	.view-foreground {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		display: grid;

		.container {
			display: grid;
			grid-template-rows: 1fr 5fr;

			.header-section {
				display: grid;
				grid-template-columns: 1fr 4fr 1fr;
				padding: 10% 3%;

				button {
					text-transform: none;
					font-size: 1.2rem;

					svg {
						height: 1.5rem;
						width: 1.5rem;
					}
				}
				> div:nth-child(2) {
					display: grid;
					font-size: 1.2rem;
					text-align: center;
					font-family: $medium-font;

					> div:last-child {
						font-size: 0.7rem;
					}
				}
			}
			.details-section {
				display: grid;
				grid-template-rows: auto 1fr;

				.locator-tab {
					display: grid;
					grid-template-rows: auto 1fr;

					> div {
						margin: 0 5%;
						background: white;

						> label {
							font-family: $regular-font;
						}
					}
					svg {
						width: 1.5rem;
						height: 1.5rem;
						top: calc(30% - 12px);
					}
				}
				.locator-tab-content {
					display: grid;
					grid-template-rows: 1fr 0.2fr;
					background: white;

					> div:last-child {
						padding: 4%;
						text-align: center;

						button {
							background: $background-gradient4;
							width: 50%;
							border-radius: 5px;
						}
					}
					.map-view {
						padding: 4% 4% 0 4%;
						> div {
							display: grid;
							height: 100%;
							width: 100%;
							background-image: url("../assets/images/map_fg.png");
							background-size: 100%;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}
}

ul[role="listbox"] {
	li[role="option"] {
		font-family: "Montserrat-Regular";
		font-size: 1rem;
	}
}
.registration-view {
	display: grid;
	grid-template-rows: 8% 8% 84%;
	background: white;

	.nav-bar {
		padding: 3% 3%;
		> button svg {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	.title {
		text-align: center;
		font-family: "Montserrat-Bold";
		font-size: 1.2em;
		padding: 3% 0;

	}
	.registration-list {
		display: grid;
		grid-auto-rows: 35%;
		grid-gap: 3%;
		padding: 3% 3%;

		p, span {color: white; font-family: "Montserrat-Regular";font-size: 0.7rem}
		span {font-size: 1rem; font-family: "Montserrat-Bold";}
		.newmem-card {
			border-radius: 5px;
			background-image: url("../assets/images/newreg_bg.png");
			background-repeat: no-repeat;
			background-size: 100%;

		}
		.exsmem-card {
			border-radius: 5px;
			background-image: url("../assets/images/exreg_bg.png");
			background-repeat: no-repeat;
			background-size: 100%;

		}
	}
}
